body {
    background-color: #ffa0cc; 
  }

#transparament {
  max-width: 10000px;
  border: none; /* Обводка для изображений */
  width: 1200px;
  height: auto;
  display: inline-block;
  margin-top: -630px;
  margin-left: -300px;
  transform: rotate(-15deg);
}

#notransparament {
  max-width: 10000px;
  border: none;
  width: 1000px;
  height: auto;
  display: inline-block;
}

  