body {
    background-color: #ffa0cc; 
  }

.oval transparament {
    border: none; /* Обводка для изображений */
    width: 10px;
    height: 10px;
}

.oval notransparament {
  border: none;
  width: 1px;
  height: 1px;
}

  